body {
    margin: 0px;
    background-color: honeydew;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: green;
}

.nav-link {
    display: inline;
}

.navbar-brand {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bolder;
}

header{
    text-align: center;
    font-weight: bolder;
    margin-top: 15px;
}

header::after {
    content: "";
    margin: 10px 0px;
    border-bottom: green dotted 5px;
    display: block;
}

main.container::after {
    content: "";
    margin: 60px 0px;
    display: block;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-color: green;
}

footer p {
    margin-bottom: 0px;
}

figure img {
    margin-top: 10px;
}

figcaption p {
    font-weight: bolder;
}

.contactBox {
    max-width: 992px;
}

#punchline {
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 6px 0px;
    visibility: hidden;
    margin-bottom: 100px;
}

.imageInText {
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 7px;
}

.jumbotron {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 75px;
    max-width: 992px;
    min-height: 450px;
    background-color: lightpink;
}

.currentPageLink {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

#selfie {
    max-width: 3000px;
    max-height: 300px;
    width: auto;
    height: auto;
}